# def UsersRecommend( año : int ): 
Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)

Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [1]:
# se ocupa las recomendaciones y item_id que tiene Clean_GamesRev.json y 
# los release_date	e item_id
import os
import pandas as pd

D_juegos= pd.read_json(r'..\dataset_raw\Clean_DataGames_T3.json')
D_Reviws= pd.read_json(r'..\dataset_raw\Clean_GamesRev.json')

In [2]:
D_juegos.tail(2)

                 item_name  release_date   item_id
32132        RUSSIAN ROADS          2018  610660.0
32133  EXIT 2 - DIRECTIONS          2017  658870.0

In [27]:
D_Reviws.head(2)

   item_id  recommend                                             review
0     1250       True  Simple yet with great replayability. In my opi...
1    22200       True               It's unique and worth a playthrough.

In [3]:
merged = pd.merge(D_Reviws,D_juegos,how='inner')
merged

,item_id,recommend,review,item_name,release_date
0,1250,True,Simple yet with great replayability. In my opi...,KILLING FLOOR,2009
1,1250,True,"Amazing, Non-stop action of blowing stuff to b...",KILLING FLOOR,2009
2,1250,True,"Compared to Left 4 Dead 2, this game REALLY gi...",KILLING FLOOR,2009
3,1250,True,Jogo ♥♥♥♥.,KILLING FLOOR,2009
4,1250,True,cara nas imagens esse jogo da pouco de medo ma...,KILLING FLOOR,2009
...,...,...,...,...,...
50349,307130,True,"Asteria is a fast paced indie platformer, wrap...",ASTERIA,2014
50350,209120,True,"Great game, awkward to get running in windows 10",STREET FIGHTER X TEKKEN,2012
50351,220090,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,THE JOURNEY DOWN: CHAPTER ONE,2013
50352,262850,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,THE JOURNEY DOWN: CHAPTER TWO,2014
50353,431510,True,Highly recommended! The storyline for shou is ...,MYSTIC DESTINIES: SERENDIPITY OF AEONS,2016

In [29]:
merged[merged['recommend']==False].head()

,item_id,recommend,review,item_name,release_date
29,1250,False,thins game sucks so baddly it is the worsed ga...,KILLING FLOOR,2009
48,1250,False,this game is good but fix the ♥♥♥♥♥♥ critcal e...,KILLING FLOOR,2009
110,1250,False,why i cant play multiplayer ? f10 to cancel co...,KILLING FLOOR,2009
114,1250,False,"repetitive gameplay, nuff said about it.",KILLING FLOOR,2009
287,1250,False,"Game is very, un-stable, non-structured on how...",KILLING FLOOR,2009

In [4]:
def analyze_sentiment(review):
  '''
  Retorno:
  1 si el sentimiento es positivo, -1 si es negativo, o 0 si es neutral.
  '''

  # Define palabras positivas y negativas (puedes ajustar estas listas)
  positive_words = ["good", "great", "amazing", "fun", "love", "recommend", ':)', '♥','beast ','best','amazing' ]
  negative_words = ["bad", "terrible", "boring", "hate", "disappointed", "not",'sucks ','fix','repetitive','un-stable','non-structured' ]

  # Inicializa el conteo de sentimiento
  sentiment = 0

  # Separa las palabras de la reseña
  words = review.lower().split()

  # Itera por cada palabra
  for word in words:
    if word in positive_words:
      sentiment += 1
    elif word in negative_words:
      sentiment -= 1

  return sentiment

In [5]:
  # Agrega la columna 'sentiment_analysis'
merged['sentiment_analysis'] = merged['review'].apply(analyze_sentiment)

merged

,item_id,recommend,review,item_name,release_date,sentiment_analysis
0,1250,True,Simple yet with great replayability. In my opi...,KILLING FLOOR,2009,2
1,1250,True,"Amazing, Non-stop action of blowing stuff to b...",KILLING FLOOR,2009,0
2,1250,True,"Compared to Left 4 Dead 2, this game REALLY gi...",KILLING FLOOR,2009,1
3,1250,True,Jogo ♥♥♥♥.,KILLING FLOOR,2009,0
4,1250,True,cara nas imagens esse jogo da pouco de medo ma...,KILLING FLOOR,2009,0
...,...,...,...,...,...,...
50349,307130,True,"Asteria is a fast paced indie platformer, wrap...",ASTERIA,2014,0
50350,209120,True,"Great game, awkward to get running in windows 10",STREET FIGHTER X TEKKEN,2012,1
50351,220090,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,THE JOURNEY DOWN: CHAPTER ONE,2013,0
50352,262850,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,THE JOURNEY DOWN: CHAPTER TWO,2014,0
50353,431510,True,Highly recommended! The storyline for shou is ...,MYSTIC DESTINIES: SERENDIPITY OF AEONS,2016,0

In [6]:
from langdetect import detect

def analyze_language(review):
  """
  Analiza el idioma de un texto.

  Parámetros:
    review: El texto que se quiere analizar.

  Retorno:
    El código del idioma detectado o 'unknown' si no se puede determinar.
  """

  try:
    # Intenta detectar el idioma
    language = detect(review)
  except:
    language = 'unknown'

  return language

def recommend_sentiment_analysis(row):#-----------------------------agregar 1 si recommend == true
  """
  Actualiza el valor de sentiment_analysis basado en la recomendación (recommend).

  Parámetros:
    row: Una fila del DataFrame.

  Retorno:
    El valor actualizado de sentiment_analysis.
  """

  sentiment = row['sentiment_analysis']
  recommend = row['recommend']

  if recommend:
    sentiment += 1
  else:
    sentiment -= 1

  return sentiment

In [7]:
merged['language'] = merged['review'].apply(analyze_language)
merged['sentiment_analysis'] = merged.apply(recommend_sentiment_analysis, axis=1)
merged

,item_id,recommend,review,item_name,release_date,sentiment_analysis,language
0,1250,True,Simple yet with great replayability. In my opi...,KILLING FLOOR,2009,3,en
1,1250,True,"Amazing, Non-stop action of blowing stuff to b...",KILLING FLOOR,2009,1,en
2,1250,True,"Compared to Left 4 Dead 2, this game REALLY gi...",KILLING FLOOR,2009,2,en
3,1250,True,Jogo ♥♥♥♥.,KILLING FLOOR,2009,1,pt
4,1250,True,cara nas imagens esse jogo da pouco de medo ma...,KILLING FLOOR,2009,1,pt
...,...,...,...,...,...,...,...
50349,307130,True,"Asteria is a fast paced indie platformer, wrap...",ASTERIA,2014,1,en
50350,209120,True,"Great game, awkward to get running in windows 10",STREET FIGHTER X TEKKEN,2012,2,en
50351,220090,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,THE JOURNEY DOWN: CHAPTER ONE,2013,1,en
50352,262850,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,THE JOURNEY DOWN: CHAPTER TWO,2014,1,en
50353,431510,True,Highly recommended! The storyline for shou is ...,MYSTIC DESTINIES: SERENDIPITY OF AEONS,2016,1,en

In [34]:
# Use value_counts() to count unique elements
language_counts = merged['language'].value_counts()

# Print the results
print(language_counts)

language
en         39016
pt          1844
es          1088
de           959
so           831
af           637
th           582
unknown      506
tl           491
cy           359
da           356
no           319
nl           253
ca           222
it           212
ro           210
pl           204
id           200
ko           198
fr           189
zh-cn        184
ru           180
et           154
sw           151
tr           138
hr           116
sl           109
vi           102
sq            90
hu            79
fi            78
sv            64
sk            62
cs            34
ja            33
lt            30
lv            30
bg            12
uk            11
zh-tw         11
mk             7
ar             2
ta             1
Name: count, dtype: int64

In [8]:
# obtener solo los reviews escritos en ingles. ya que son los mas reelevantes
df_english = merged[merged['language'] == 'en']
df_english

,item_id,recommend,review,item_name,release_date,sentiment_analysis,language
0,1250,True,Simple yet with great replayability. In my opi...,KILLING FLOOR,2009,3,en
1,1250,True,"Amazing, Non-stop action of blowing stuff to b...",KILLING FLOOR,2009,1,en
2,1250,True,"Compared to Left 4 Dead 2, this game REALLY gi...",KILLING FLOOR,2009,2,en
5,1250,True,An Awesome co-op survival shooter! BUY IT!!!,KILLING FLOOR,2009,1,en
7,1250,True,"I've played a lot of zombie games in my time, ...",KILLING FLOOR,2009,1,en
...,...,...,...,...,...,...,...
50349,307130,True,"Asteria is a fast paced indie platformer, wrap...",ASTERIA,2014,1,en
50350,209120,True,"Great game, awkward to get running in windows 10",STREET FIGHTER X TEKKEN,2012,2,en
50351,220090,True,GET THIS GAME AND CHAPTER TWO!!!!!!!!!!!!!!!!!...,THE JOURNEY DOWN: CHAPTER ONE,2013,1,en
50352,262850,True,THIS GAME!!!!!!!!!!!!!!!!!! WOOOOOOOOOOOOOOOOO...,THE JOURNEY DOWN: CHAPTER TWO,2014,1,en
50353,431510,True,Highly recommended! The storyline for shou is ...,MYSTIC DESTINIES: SERENDIPITY OF AEONS,2016,1,en

### revisar si las recomendaciones son negativas o positivas.

### reducir la tabla a solo  release_date, sentiment_analysis, item_name

In [9]:
df_english.drop(columns={'recommend','review','language'}, inplace=True)
df_english

C:\Users\Luis Meza\AppData\Local\Temp\ipykernel_13768\2192792186.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_english.drop(columns={'recommend','review','language'}, inplace=True)

,item_id,item_name,release_date,sentiment_analysis
0,1250,KILLING FLOOR,2009,3
1,1250,KILLING FLOOR,2009,1
2,1250,KILLING FLOOR,2009,2
5,1250,KILLING FLOOR,2009,1
7,1250,KILLING FLOOR,2009,1
...,...,...,...,...
50349,307130,ASTERIA,2014,1
50350,209120,STREET FIGHTER X TEKKEN,2012,2
50351,220090,THE JOURNEY DOWN: CHAPTER ONE,2013,1
50352,262850,THE JOURNEY DOWN: CHAPTER TWO,2014,1
50353,431510,MYSTIC DESTINIES: SERENDIPITY OF AEONS,2016,1

crear una tabla para T5sentiment_analysis

In [16]:
df_english.to_json('..\dataset_raw\Clean_GamesRevT5.json', index=False)

continuar con T3UsersRecommend

In [41]:
df_Sentiment = df_english.groupby(['item_id','item_name','release_date'])['sentiment_analysis'].sum().reset_index(drop=False)
df_Sentiment

,item_id,item_name,release_date,sentiment_analysis
0,10,COUNTER-STRIKE,2000,76
1,20,TEAM FORTRESS CLASSIC,1999,1
2,30,DAY OF DEFEAT,2003,10
3,40,DEATHMATCH CLASSIC,2001,4
4,50,HALF-LIFE: OPPOSING FORCE,1999,5
...,...,...,...,...
2893,520550,AMERICAN TRUCK SIMULATOR - STEERING CREATIONS ...,2016,2
2894,521340,TRUE OR FALSE,2016,3
2895,521430,SUPER SWITCH,2016,2
2896,521990,GALACTIC STORM,2016,2
2897,527340,WHAT THE BOX?,2016,2

In [47]:
df_t3= df_Sentiment[df_Sentiment['sentiment_analysis']>0]
df_t4= df_Sentiment[df_Sentiment['sentiment_analysis']<0]
df_t3.to_parquet('UsersRecommend.parquet',index=False)
df_t4.to_parquet('UsersRecommendNeg.parquet',index=False)

In [90]:
df = df_t3.sort_values(by=['release_date', 'sentiment_analysis'], ascending=False)
df.tail()

      item_id                 item_name  release_date  sentiment_analysis
2283   358250  COSMO'S COSMIC ADVENTURE          1992                   2
2284   358260             CRYSTAL CAVES          1991                   3
143      9180            COMMANDER KEEN          1990                  12
319     32340                     LOOM™          1990                   1
2008   327950      SWORD OF THE SAMURAI          1989                   3

In [93]:
top_3_per_year = df.groupby('release_date').head(3)# se obtiene las primeras 3 para cada ano y se almacenan
top_3_per_year

      item_id                 item_name  release_date  sentiment_analysis
1779   304930                  UNTURNED          2017                1663
1751   301520                 ROBOCRAFT          2017                 398
2169   346110     ARK: SURVIVAL EVOLVED          2017                 353
759    211820                 STARBOUND          2016                 731
935    227940         HEROES & GENERALS          2016                 302
...       ...                       ...           ...                 ...
2283   358250  COSMO'S COSMIC ADVENTURE          1992                   2
2284   358260             CRYSTAL CAVES          1991                   3
143      9180            COMMANDER KEEN          1990                  12
319     32340                     LOOM™          1990                   1
2008   327950      SWORD OF THE SAMURAI          1989                   3

[82 rows x 4 columns]

In [70]:
# se filtran solo las columnas necesarias
top_3_per_year.drop(columns={'sentiment_analysis','item_id'}, inplace=True)
top_3_per_year.head(2)

C:\Users\Luis Meza\AppData\Local\Temp\ipykernel_7748\79731660.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_3_per_year.drop(columns={'sentiment_analysis','item_id'}, inplace=True)

      item_name  release_date
1779   UNTURNED          2017
1751  ROBOCRAFT          2017

In [71]:
top_3_per_year.to_parquet('UsersRecommend.parquet',index=False)

# def UsersRecommend( año : int ): 
Devuelve el top 3 de juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos/neutrales)

Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [ ]:
import pandas as pd
import os

In [72]:
df_Sentiment= pd.read_parquet('UsersRecommend.parquet')
df_Sentiment

                   item_name  release_date
0                   UNTURNED          2017
1                  ROBOCRAFT          2017
2      ARK: SURVIVAL EVOLVED          2017
3                  STARBOUND          2016
4          HEROES & GENERALS          2016
..                       ...           ...
77  COSMO'S COSMIC ADVENTURE          1992
78             CRYSTAL CAVES          1991
79            COMMANDER KEEN          1990
80                     LOOM™          1990
81      SWORD OF THE SAMURAI          1989

[82 rows x 2 columns]

In [83]:
df_ano= df_Sentiment[df_Sentiment['release_date']==2000]

df_ano['item_name'].iloc[0]

'COUNTER-STRIKE'

In [87]:
def UsersRecommend( año : int ): 
    ######verificar que este el año pedido ente los datos
    if año not in df_Sentiment['release_date'].unique() or type(año) != int :
        raise ValueError(f"El género '{año}' no se encuentra en la base de datos favor de verificarlo.")
    
    ## extraer los datos del ano
    df_ano= df_Sentiment[df_Sentiment['release_date']==año]

    return print([{"Puesto 1" : df_ano['item_name'].iloc[0]}, {"Puesto 2" : df_ano['item_name'].iloc[1]},{"Puesto 3" : df_ano['item_name'].iloc[2]}])

In [88]:
UsersRecommend(2017)

[{'Puesto 1': 'UNTURNED'}, {'Puesto 2': 'ROBOCRAFT'}, {'Puesto 3': 'ARK: SURVIVAL EVOLVED'}]