
## def UsersWorstDeveloper( año : int ): Devuelve el top 3 de desarrolladoras con juegos MENOS recomendados por usuarios para el año dado. (reviews.recommend = False y comentarios negativos)
 |Ejemplo de retorno: [{"Puesto 1" : X}, {"Puesto 2" : Y},{"Puesto 3" : Z}]

In [1]:
#caargar los datos
import pandas as pd
import os

In [3]:
#aprovecho que ya tengo el analisis de sentimientos del proceso anterior
d_Reviews = pd.read_parquet('UsersRecommendNeg.parquet')

In [2]:
#ahora solo necesito juntar el Item_id con el developer.
D_dev= pd.read_json(r'..\dataset_raw\Clean_DataGames.json')
D_dev= D_dev[['item_id', 'developer']].drop_duplicates()
D_dev

       item_id                 developer
0       761140                 KOTOSHIRO
5       643980          SECRET LEVEL SRL
9       670290              POOLIANS.COM
14      767400                      彼岸领域
17      772540       TRICKJUMP GAMES LTD
...        ...                       ...
71133   745400           BIDONIERA GAMES
71137   773640        NIKITA "GHOST_RUS"
71141   733530                    SACADA
71144   610660  LAUSH DMITRIY SERGEEVICH
71147   658870             XROPI,STEV3NS

[28377 rows x 2 columns]

In [4]:
# las mezclamos y eliminamos columnas innecesarias
d_master= d_Reviews.merge(D_dev, how='inner', on='item_id')
d_master.drop(columns={	'item_id',	'item_name'}, axis= 1,inplace=True)

In [5]:
d_master

     release_date  sentiment_analysis             developer
0            2006                  -3        STRATEGY FIRST
1            2006                  -3  REALITY PUMP STUDIOS
2            2007                  -2             FREEGAMER
3            2007                  -1         BLACK ELEMENT
4            2000                  -2               EGOSOFT
..            ...                 ...                   ...
395          2016                  -4            PLAYSAURUS
396          2016                  -2                 KIDDY
397          2016                  -2       CLOUDCADE, INC.
398          2016                  -1       EVGENII GUBANOV
399          2016                  -2      UBISOFT MONTREAL

[400 rows x 3 columns]

In [6]:
#crear la lista de solo los 3 peores por año
top_3_per_year = d_master.groupby('release_date').head(3)# se obtiene las primeras 3 para cada ano y se almacenan
top_3_per_year.sort_values(by=['release_date', 'sentiment_analysis'],ascending=True, inplace=True)
top_3_per_year

C:\Users\Luis Meza\AppData\Local\Temp\ipykernel_2320\724207537.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_3_per_year.sort_values(by=['release_date', 'sentiment_analysis'],ascending=True, inplace=True)

     release_date  sentiment_analysis                      developer
25           1998                  -2                      LUCASARTS
145          1998                  -2            JACKBOX GAMES, INC.
116          1999                  -7                  QUANTIC DREAM
7            2000                  -4             IO-INTERACTIVE A/S
4            2000                  -2                        EGOSOFT
35           2001                  -3                FIREFLY STUDIOS
132          2001                  -1                   REALITY PUMP
55           2002                  -2             TEAM17 DIGITAL LTD
142          2002                  -2                   REALITY PUMP
16           2003                  -5           REMEDY ENTERTAINMENT
20           2003                  -1                        UBISOFT
17           2004                  -2     ASCARON ENTERTAINMENT LTD.
180          2004                  -2                  JARHEAD GAMES
10           2005                  -2                    ID SOFTWARE
0            2006                  -3                 STRATEGY FIRST
1            2006                  -3           REALITY PUMP STUDIOS
21           2006                  -2        RED STORM ENTERTAINMENT
2            2007                  -2                      FREEGAMER
6            2007                  -2              EIDOS INTERACTIVE
3            2007                  -1                  BLACK ELEMENT
8            2008                  -2               CRYSTAL DYNAMICS
12           2008                  -2                      FROGWARES
13           2008                  -1                      MERIDIAN4
18           2009                  -2   NOVIY DISK,LESTA STUDIOS INC
22           2009                  -2                HAEMIMONT GAMES
23           2009                  -2                       1C:INOCO
9            2010                  -2              SILVER WISH GAMES
29           2010                  -2            CENTAURI PRODUCTION
30           2010                  -1              AVALANCHE STUDIOS
11           2011                 -13                   TRASHMASTERS
37           2011                  -4                      TRINOTEAM
24           2011                  -2                DNS DEVELOPMENT
40           2012                  -2           KERBEROS PRODUCTIONS
49           2012                  -1  COREPLAY GMBH,BIGMOON STUDIOS
53           2012                  -1            BOHEMIA INTERACTIVE
5            2013                 -14                        EGOSOFT
67           2013                  -5               CYANIDE MONTREAL
62           2013                  -1                 ZOMBIE STUDIOS
90           2014                  -2             TRIBUTE GAMES INC.
108          2014                  -2      DOUBLE HELIX GAMES,CAPCOM
112          2014                  -2            CENTAURI PRODUCTION
100          2015                  -7                     HYPERSLOTH
113          2015                  -1                   TIMESYMMETRY
133          2015                  -1                 PROJECTORGAMES
93           2016                  -2              DAMBUSTER STUDIOS
128          2016                  -2                  ESTSOFT CORP.
111          2016                  -1                   PATHEA GAMES
169          2017                  -5                   8-BIT STUDIO
186          2017                  -4                      ALIENTRAP
275          2017                  -2                 LIGHTBULB CREW

In [7]:
top_3_per_year.drop(columns={'sentiment_analysis'}, inplace=True)
top_3_per_year.head(2)

C:\Users\Luis Meza\AppData\Local\Temp\ipykernel_2320\4120551206.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_3_per_year.drop(columns={'sentiment_analysis'}, inplace=True)

     release_date            developer
25           1998            LUCASARTS
145          1998  JACKBOX GAMES, INC.

In [9]:
top_3_per_year.to_parquet('UsersRecommenT4.parquet')

In [147]:
top_3_per_year[top_3_per_year['release_date']==2000]

   release_date  sentiment_analysis           developer
7          2000                  -4  IO-INTERACTIVE A/S
4          2000                  -2             EGOSOFT

2018 no hay   |  2005 tiene 1 | 2000 tiene 2 | 2017 tiene 3

In [16]:
def UsersWorstDeveloper( año : int ): 
    ######verificar que este el año pedido ente los datos
    if año not in top_3_per_year['release_date'].unique() or type(año) != int :
        raise ValueError(f"El '{año}' no se encuentra en la base de datos favor de verificarlo, puede que no sea un numero.")
    
    ## extraer los datos del ano
    df_ano= top_3_per_year[top_3_per_year['release_date']==año]
    
    ##revisar que no sean vacios.
    nueva_fila = pd.DataFrame([{'release_date': año, 'developer': 'no hay'}])
    
    if df_ano.size ==9:
        return print([{"Puesto 1" : df_ano['developer'].iloc[0]}, {"Puesto 2" : df_ano['developer'].iloc[1]},{"Puesto 3" : df_ano['developer'].iloc[2]}])  
    
    elif df_ano.size <4:
       
        df_ano = pd.concat([df_ano, nueva_fila], ignore_index=True)
        df_ano = pd.concat([df_ano, nueva_fila], ignore_index=True)  
        return print([{"Puesto 1" : df_ano['developer'].iloc[0]}, {"Puesto 2" : df_ano['developer'].iloc[1]},{"Puesto 3" : df_ano['developer'].iloc[2]}])   
      
    else :
        df_ano = pd.concat([df_ano, nueva_fila], ignore_index=True)  
        return print([{"Puesto 1" : df_ano['developer'].iloc[0]}, {"Puesto 2" : df_ano['developer'].iloc[1]},{"Puesto 3" : df_ano['developer'].iloc[2]}])  
    
    #return  df_ano
    #return print([{"Puesto 1" : df_ano['developer'].iloc[0]}, {"Puesto 2" : df_ano['developer'].iloc[1]},{"Puesto 3" : df_ano['developer'].iloc[2]}])

In [24]:
UsersWorstDeveloper(2000)

[{'Puesto 1': 'IO-INTERACTIVE A/S'}, {'Puesto 2': 'EGOSOFT'}, {'Puesto 3': 'no hay'}]